/* src/App.css */

/* 确保根节点撑满屏幕 */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* 移除可能的默认对齐 */
  text-align: left; 
}

/* 如果还有 logo 动画需求可以保留，否则可以全删 */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}