name: Build Android APK

on:
  push:
    branches: [ "master" ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-linux-android, armv7-linux-androideabi, x86_64-linux-android, i686-linux-android

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "src-tauri -> target"

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Initialize and Build Android
        run: |
          # 1. 自动生成安卓项目骨架
          pnpm tauri android init
          
          # 2. 告诉系统 NDK 的具体位置（这是 GitHub 服务器的默认路径）
          export ANDROID_NDK_HOME=$ANDROID_SDK_ROOT/ndk/25.2.9519653
          
          # 3. 运行编译命令
          pnpm tauri android build --debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: iTermX-Debug-APK
          path: src-tauri/gen/android/app/build/outputs/apk/debug/*.apk
