::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300/50 dark:bg-slate-700/50 rounded-full backdrop-blur-sm;
}

::-webkit-scrollbar-track {
  background: transparent;
}
